  <div class="gig-req-index">


    <%= react_component("GigRequestIndex", props: {gigRequests: @gig_requests,
      allGenres: @all_genres,
      allInstruments: @all_instruments
      }) %>



</div>
