<div class="gig-show-page">
  <%= react_component("GigRequestShow", props: {gigRequest: @gig_request,
    allInstruments: @all_instruments,
    allGenres: @all_genres,
    validUser: @valid_user}) %>

</div>
