.new-gig {
  height: 60em;
}

.gig-details {
  color: white;
  text-align: center;
  margin: 4em;
  font-weight: 500;
  background-color: black;
  opacity: 0.9;
}

#hdfvr-content{
  text-align: center;
  margin: 2em;
}

.audition-index{
  text-align: center;
}
