.sign-up {
  background: url('/assets/room-691649_1280_Fotor.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.devise-new {
  input{
    size: 35
  }
  display: block;
  text-align: center;
  color: white;
  background: black;
  border-radius: 10px;
  padding: 3em;
  padding-top: 6em;
  margin: 3em;
  opacity: 0.93;
}

.catch-phrase {
  font-family: 'Archivo Black', sans-serif;
  font-style: italic;
  color: white;
}

.sign-out {
  display: inline-block;
  padding-right: 1em;
}

.edit-user {
  background-color: black;
}

.edit-form{
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 2em;
  margin-top: 2em;

  label {
    color: black;
  }
  a{
    color: black;
  }
}

.errors {
  font-size: 20px;
text-align: center;
h2{
  font-size: 20px;
}
ul{
  list-style: none;
}

}
