.gig-req-index{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.request-tile{
  th {
    background-color: #091D35;
    color: #FAFAF8;
    font-size: 17px;
  }
}
.gig-tile-row{
  font-size: 20px;
  a:hover {
    color: #091D35;
  }
}

.gig-tile-row:hover{
  background-color: #C2C7CC;
}

.gig-req-table {
  padding-top: 4em;
}

.search-error {
  color: white;
  text-align: center;
  margin-top: 1em;
}

.search-div {
  color: white;
  padding-top: 2em;
  label{
    font-size: 20px;
  }
}

.outer-and-or {
  text-align: center;
}

.circle{
  width:100px;
  height:100px;
  border-radius:100%;
  font-size:20px;
  font-weight:bold;
  color:#fff;
  line-height:95px;
  text-align:center;
  position: static;
  background:#091D35;
  border-style: groove;
  border-color: white;
}

.new-gig-button {
  margin-top: 2em;
  text-align: center;
}


.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index:9999;
    margin-top:-15px;
      margin-right: 20px;
  width: 7em;
  height: 4em;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #355678;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font: normal 20px/30px "Advent Pro", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: #355678;
}

.enjoy-css:active {
  border: 2px solid rgba(53,86,120,1);
  background: rgba(56,113,170,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
