.gig-show-page {
  height: 50em;
}

.gig-req-show {
  text-align: center;
  a {
    color: black;
  }
  a:hover{
    color: #8BB3E5;
  }
  input{
    width: 100%;
    text-align: center;
  }
  textarea{
    height: 7em;
    width: 100%;
  }
}

.date-edit{
  th{
    background-color: #091D35;
    color: white;
  }

  td {
    background-color: #CACCD0;
  }
  display: inline-block;
}


.go-to-audition {
  a {
    color: white;
  }
  a:hover{
    color: white;
  }
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 70px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgba(9,29,53,1);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-weight: 600;
  font: normal 18px/20px "Advent Pro", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(9,29,53,1);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.go-to-audition:hover {
  border: 2px solid rgba(255,255,255,1);
}

.go-to-audition:active {
  border: 2px solid rgba(60,115,178,1);
  background: rgba(17,52,81,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
