.select-table {
  width: 100%
}

#avatar{
  img{
    border-radius: 100%;
    margin-top: 3em;
  }

}

.profile {
  background: url('/assets/microphone-337747_1280_Fotor.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.profile-details {
  h1 {
    font-weight: bold;
  }
  background-color: black;
  border-radius: 7px;
  margin-top: 2em;
  text-align: center;
  color: white;
  opacity: 0.9;
  legend {
    font-weight: 600;
    font-size: 20px;
  }
  td {
    font-size: 20px;
  }
}

.inst-genre {
  margin: 1em;
  padding: 2em;
}

.tag-field {
  padding: 1em;
  background-color: black;
  text-align: center;
  opacity: 0.9;
  color: white;
}

.gigs {
  color: white;
}

.candy-button {
color: white;
}

.spotify-container {
  legend {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
  color: white;
}
.spotify-object {
  color: white;
  margin: 0.5em;
}

.spotify-tracks {
  padding-bottom: 2em;
}
