.select-table {
  width: 100%
}

#avatar{
  img{
    border-radius: 100%;
    margin-top: 3em;
  }

}

.avatar-update {
  a {
    color: white;
  }
}

.profile {
  background: url('/assets/microphone-337747_1280_Fotor.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.gig-date {
  table{
    background-color: white;
  }
  td{
    background-color: #E0E3E6;
    color: black;
  }
}

.profile-details {
  h1 {
    font-weight: bold;
  }
  background-color: black;
  border-radius: 7px;
  margin-top: 2em;
  text-align: center;
  color: white;
  opacity: 0.9;
  legend {
    font-weight: 600;
    font-size: 20px;
  }
  td {
    font-size: 18px;
  }
}

.bio-edit-field {
  height: 150px;
  width: 540px;
}

.inst-genre {
  margin: 1em;
  padding: 2em;
}

.tag-field {
  padding: 1em;
  background-color: black;
  text-align: center;
  opacity: 0.9;
  color: white;
}

.gigs {
  color: white;
  th{
    background: #091D35;
    color: white;
  }
}

.gigs-table {
  height: 400px;
  width: 100%;
  overflow: scroll;
}

.gig-reqs-profile:hover {
  background-color: #C2C7CC;
  a:hover{
    color: #091D35;
  }
}
.candy-button {
color: white;
}

.candy-button:hover{
  color: #3781E1;
}

.spotify-search-form {
  margin: 1em;
}

.spotify-container {
  legend {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
  color: white;
}
.spotify-object {
  color: white;
  margin: 0.5em;
  display: inline-block;
  p{
    display: inline-block;
  }
  border-bottom: solid;
}

.spotify-tracks {
  padding-bottom: 2em;
}

.no-results {
  padding-left: 1em;
}
